*{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

a, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2d2d2d;
    text-decoration: none;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    z-index: 4;
    padding-left: 20px;
    color: #2d2d2d;
    text-decoration: none;
}

/*#navbar li{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}*/
.navbar{
    border-top: 10px rgb(100, 100, 100) solid ;
}
.navbar-left{
    padding: 0 0 0 20px;
    float: left;
    list-style: none;
    display: inline-flex;
}

.navbar-right{
    padding-right: 20px;
    float: right;
    list-style: none;
    display: inline-flex;
    
}

span {
    color: #64A874;
}

.boxed{
    border: 3px rgb(87, 148, 101) solid ;
    background-color:#64A874 ;
    
    margin-bottom: 20%;
    min-height: 450px;
}   
/*
.boxed img{
    height: 200px;
    clear: both;
    background: rgba(255, 255, 255, 0);
    text-align: center;

}

.liftcase{
    margin-top: 15%;
    display: flex;
    background: #64A874;
}

.lifttext{
    background: #64A874;
    color: white;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    border-right: 4px white solid;
    padding-right: 10px;
}*/

.liftimg{
    background: #64A874;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.signup{
    color: #64A874;/****************************************************************************/
}

/*.login{
    list-style-image: url('static/images/login.png');
}*/
body{
    background-color: rgb(100,168,116);
}
#car{
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 1;
    background-image: url("css_stuff/car.png");
    background-color:rgba(255, 255, 255, 0);
    top: -5%;
    left: 25%;
    padding-top: auto;
}
#textid{
    z-index: 2;
}

.gradient-button {
    position: relative;
    margin: 10px;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    padding: 40px;
    transition:1s;
    text-align: left;
    background-size: 180% auto;
    color: white;
    width: 150px;
    cursor: pointer;
    display: inline-flex;
    border-right: 2px solid white;
    box-shadow: 3px 0px rgba(0,0,0,0.08);
    background-color: rgb(100,168,116);
    left:100px;
}
.gradient-button:hover{
    background-image: linear-gradient(to right, rgba(129,185,142,0), rgba(129,185,142,1));
}
.gradient-button:active{
    background-image: linear-gradient(to right, rgba(255,217,102,0), rgba(255,217,102,1));
}

.javascriptdiv {
position: relative;
}