<!DOCTYPE html>
{% extends 'szchober/base.html' %}
{% load staticfiles %}
<html>
   {% block title_block %}About Us{% endblock %}
    {% block body_block %}
   <br/>
        <section class="boxed">
                    <div>
                        <h3 style="display: inline; background-color:lightgray;">What is a Driver?</h3>
                    </div>
                    <div>
                        <h3 style="display: inline; background-color:lightgray;">What is a Rider?</h3>
                    </div>
                    <div id="driver" style="background-color: lightgray;">
                        <input type="image" onclick="loadDocDriver()" src="../../static/images/carinfo.png" alt="car" style= "width: 300px; border: 2px rgb(44, 131, 83) solid; background-color: #64A874;" >
                        <br>
                    </div>
                    <div id="rider" style="background-color: lightgray;">
                        <input type="image" onclick="loadDocRider()" src="../../static/images/riderinfo.png" alt="car" style="width: 300px; border: 2px rgb(44, 131, 83) solid; background-color: #64A874;">

                    </div>
        </section>

        <script>
        function loadDocDriver() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("driver").innerHTML =
              this.responseText;
            }
          };
          xhttp.open("GET", "{% static "info/driver_info.txt" %}", true);
          xhttp.send();
        }
        </script>

        <script>
        function loadDocRider() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("rider").innerHTML =
              this.responseText;
            }
          };
          xhttp.open("GET", "{% static "info/rider_info.txt" %}", true);
          xhttp.send();
        }
        </script>




    
    <div id="loginmodal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Log in</h3>
            <form id="login_form" method="post" action="{% url 'szchober:login' %}">
                {% csrf_token %}
                <input class="oneperline" type="text" name="username" value="" placeholder="Email" size="15" /> <br />
                <input class="oneperline" type="password" name="password" value="" placeholder="Password" size="20" /> <br />
                <input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
                
                
            </form>

        </div>
      
    </div>
      
    <script>
        var modal = document.getElementById("loginmodal");
        var btn = document.getElementById("modalbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
     {% endblock %}
</html>
