<!DOCTYPE html>
{% extends 'szchober/base.html' %}
{% load staticfiles %}
<html>
    <!-- llllllllllllllllllllllllllll -->
<meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title_block %}Become a driver{% endblock %}
        {% block body_block %}

<div class="row" style="padding:100px;">
<div class="col-md-6 col-xs-12" style="justify-content:center;">
<h3 style="display: inline; text-align:center;">Become a Driver</h3>
<div>
                    <img src="{% static 'images/carf.png' %}" alt="car" style= "width: 300px;background-color:transparent" >

                </div>
</div>
<div class="col-md-6 col-xs-12">
<h3 style="display: inline;vertical-align:bottom; background-color:lightgray;">Register</h3>
                <div>
                    <div style="border: 2px  rgb(44, 131, 83) solid; width: 300px; height: auto; padding-top: 4%; justify-content:center; ">


                        {% if registered %}
                       <strong>thank you for registering!</strong>
                        <a href="{%url 'szchober:index'%}">Return to the homepage.</a><br/>
                        {% else %}

                        <form id="user_form" method="post" action="{% url 'szchober:become-a-driver' %}"
                            enctype="multipart/form-data">

                            {% csrf_token %}

                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}

                            <input type="submit" name="submit" style="background-color:lightgray; color:black" value="Register" />
                        </form>
                        {% endif %}

                    </div>
                </div>
</div>


    <div id="loginmodal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Log in</h3>
            <form id="login_form" method="post" action="{% url 'szchober:login' %}">
                {% csrf_token %}
                <input class="oneperline" type="text" name="username" value="" placeholder="Email" size="15" /> <br />
                <input class="oneperline" type="password" name="password" value="" placeholder="Password" size="20" /> <br />
                <input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
                
                
            </form>

        </div>
      
    </div>
      
    <script>
        var modal = document.getElementById("loginmodal");
        var btn = document.getElementById("modalbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
      
    {% endblock %}
</html>
