
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
<h1>Become a Rider</h1>
{% if registered %}
Rango says:<strong>thank you for registering!</strong>
<a href="{%url 'szchober:index'%}">Return to the homepage.</a><br/>
{% else %}
<strong>register here!</strong><br/>

<form id="user_form" method="post" action="{% url 'szchober:become-a-rider' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}
