<!DOCTYPE html>
{% extends 'szchober/base.html' %}
{% load staticfiles %}
<html>
   {% block title_block %}Feedback{% endblock %}

    {% block body_block %}
        <h1 style="text-align:center;font-size:4em;margin-bottom:10%;">Szch<span>&#246</span>ber.</h1>
        <div class="feedbackcentered">
           <h1>Feedback to us</h1>
            <div>
               <form method="POST">
                   {%csrf_token%}
                   {{form.as_p}}
                   <div class="form-actions">
                       <button type="submit" id="feedbacksubmit">Send Feedback</button>
                       {% if messages %}
                         <ul class = 'messages'>
                            {% for message in messages %}
                            <li {% if message.tags %} class ="{{ message.tags }}"{% endif %}>{{message}}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                   </div>
               </form>
           </div>
        
        </div>

    </footer>
    <div id="loginmodal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Log in</h3>
            <form id="login_form" method="post" action="{% url 'szchober:login' %}">
                {% csrf_token %}
                <input class="oneperline" type="text" name="username" value="" placeholder="Email" size="15" /> <br />
                <input class="oneperline" type="password" name="password" value="" placeholder="Password" size="20" /> <br />
                <input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
                
                
            </form>

        </div>
      
    </div>
      
    <script>
        var modal = document.getElementById("loginmodal");
        var btn = document.getElementById("modalbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock %}
</html>
