<!DOCTYPE html>
{% extends 'szchober/base.html' %}
{% load staticfiles %}
<html>
   {% block title_block %}Feedback{% endblock %}

    {% block body_block %}

        <section class="feedbackbox">
           <div>
               
           </div>
        
        </section>

    </footer>
    <div id="loginmodal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Log in</h3>
            <form action="process.php" method="POST">
                <input class="oneperline" placeholder="Email" type="text" name="loginemail">
                <input class="oneperline" placeholder="Password" type="text" name="loginpassword">
                <input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
                
                
            </form>

        </div>
      
    </div>
      
    <script>
        var modal = document.getElementById("loginmodal");
        var btn = document.getElementById("modalbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock %}
</html>
