<!DOCTYPE html>
<html>
    <head>
        <title>find a lift</title>
        <link rel="stylesheet" type="text/css" href="style-find-lift.css"/>
    </head>
    
    <body>
        <div class="p">
            <div class="header">
                <div class="container">
                    <h1>Szch<span style="color: green">ö</span>ber</h1>
                </div>
            </div>
            </div>
    <div class="body">
    <div class="mapcontainer">
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center:  {lat: 55.8721, lng: -4.2882},
          mapTypeControl: false,
          mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.TOP_CENTER
          },
          zoomControl: false,
          zoomControlOptions: {
              position: google.maps.ControlPosition.LEFT_CENTER
          },
          scaleControl: false,
          streetViewControl: false,
          streetViewControlOptions: {
              position: google.maps.ControlPosition.LEFT_TOP
          },
          fullscreenControl: false
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAyB5pYSYqOo5T0ih5jDjKJJpsNR_LVO8&callback=initMap">
    </script>
    </div>

    <div class="container-supermarket-info">
        <h2>Find a lift.</h2>
        <form>
            <input type="text" id="location" name="location" placeholder="Enter destination">
            <input type="text" id="postcode" name="postcode" placeholder="Enter destination postcode">
        </form>
        <button type="button" onclick="alert('Your selected driver has been alerted')">Book now</button>
    </div>

    <div class="container-available-drivers">
        <h3>Available Drivers.</h3>
    </div>
</div>
    </body>
</html>