<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="p">
    <div class="header">
        <div class="container">
            <h1>Szch<span style="color: green">ö</span>ber</h1>
            <a href="about-us.html">About us</a>
            <p class="p">Driver</p>
            <p class="p">Rider</p>
            <p class="user">Log in</p>
            <p class="user">Sign up</p>
        </div>
    </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="lift">
                <div class="block">
                    <a class="gradient-button" onmouseover="mouseOver()" onmouseout="mouseOut ()" onmousedown="mouseClick ()">Find a </br> Lift.</a>
					<div id="car">
					
					<script>
						function mouseOver(){
						var elem = document.getElementById("car");
						var pos = -50;
						var id = setInterval(frame, 5);
							function frame(){
								if (pos == -20){
									clearInterval(id)
								}else{
									pos++;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}

						function mouseOut(){
							var elem = document.getElementById("car");
							var pos = -20;
							var id = setInterval(frame, 5);
							function frame(){
								if (pos == -50){
									clearInterval(id)
								}else{
									pos--;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}	
		
						function mouseClick(){
							var elem = document.getElementById("car");
							var pos = -20;
							var id = setInterval(frame, 5);
							function frame(){
								if (pos == 20){
									clearInterval(id)
									window.open("find-a-lift.html","_self");
								}else{
									pos++;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}

					</script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
