<!DOCTYPE html>
<meta charset="utf-8">
{% load staticfiles %}
<html>
    <head>
        <title>Szchober</title>
        <link rel="stylesheet" href="{% static "styles/style.css" %}" />

    </head>
    <body>
        <header id="main-header">
            <div class="main-header">
                <a href="{% url 'szchober:index' %}"><h1>Szch<span>&#246</span>ber.</h1></a>

            </div>
        </header>
            <nav id="navbar">
                <ul class="navbar-left">
                    <li><a href="{% url 'szchober:become-a-driver' %}">Driver</a></li>
                    <li><a href="{% url 'szchober:become-a-rider' %}">Rider</a></li>
                    <li ><a href="{% url 'szchober:about-us' %}" style="color: rgb(44, 131, 83)">About us</a></li>
                </ul>
                <ul class="navbar-right">
                    <li class="login"><a href="#" id="modalbutton">Log in</a></li>
                    <li class="signup"><a href="{% url 'szchober:sign-up' %}" style="color: rgb(44, 131, 83);">Sign up</a></li>
                </ul>
            </nav>
        <section class="boxedhome">
            
            <div class="liftcase">
                <a class="gradient-button" onmouseover="mouseOver()" onmouseout="mouseOut ()" onmousedown="mouseClick ()">Find a Lift.</a>
                <div id="car">
					
					<script>
						function mouseOver(){
						var elem = document.getElementById("car");
						var pos = -50;
						var id = setInterval(frame, 5);
							function frame(){
								if (pos == -20){
									clearInterval(id)
								}else{
									pos++;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}

						function mouseOut(){
							var elem = document.getElementById("car");
							var pos = -20;
							var id = setInterval(frame, 5);
							function frame(){
								if (pos == -50){
									clearInterval(id)
								}else{
									pos--;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}	
		
						function mouseClick(){
							var elem = document.getElementById("car");
							var pos = -20;
							var id = setInterval(frame, 5);
							function frame(){
								if (pos == 20){
									clearInterval(id)
									window.open("{% url 'szchober:find_a_lift' %}","_self");
								}else{
									pos++;
									elem.style.left = pos + "px";//moves object right
								}
							}
						}

					</script>
                </div>
            </div>
		</section>
		<footer>
			<nav id="navbar">
                <ul class="navbar-left">
                    <li><img src="../static/images/420px-Globe_icon.svg.png" alt=""></li>
                    <li>
						<div>
							<h3 style="color: black;">Contact us</h3>
							<h1 style="color: rgb(44, 131, 83); font-size: 10px; padding-top: 5px ;">+44 749 4671 324</h1>
							<a href="{% url 'szchober:feedback' %}"><h1 style="color: rgb(44, 131, 83); font-size: 10px; padding-top: 5px ;">Feedback</h1></a>
						</div>
					</li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="http://hyperurl.co/pt4i93"><img src="../static/images/download-on-app-store-png-2.png" alt=""></a></li>
                    <li><img src="../static/images/socials.png" alt=""></li>
                </ul>
            </nav>
		</footer>
	    <div id="loginmodal" class="modal">

			<div class="modal-content">
				<span class="close">&times;</span>
				<h3>Log in</h3>
				<form action="process.php" method="POST">
					<input class="oneperline" placeholder="Email" type="text" name="loginemail">
					<input class="oneperline" placeholder="Password" type="text" name="loginpassword">
					<input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
					
					
				</form>
	
			</div>
		  
		</div>
		  
		<script>
			var modal = document.getElementById("loginmodal");
			var btn = document.getElementById("modalbutton");
			var span = document.getElementsByClassName("close")[0];
			btn.onclick = function() {
				modal.style.display = "block";
			}
			span.onclick = function() {
				modal.style.display = "none";
			}
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}
		</script>
    </body>

</html> 