<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <div class="p">
    <div class="header">
        <div class="container">
            <h1>Szch<span style="color: green">ö</span>ber</h1>
            <a href="about-us/">About us</a>
            <p class="p">Driver</p>
            <p class="p">Rider</p>
            <p class="user">Log in</p>
            <p class="user">Sign up</p>
        </div>
    </div>
    </div>
    <div class="body">
        <div class="container">
            <div class="lift">
                <div class="block">
                    <h2>Find a <br/>Lift.</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
