<!DOCTYPE html>
{% extends 'szchober/base.html' %}
{% load staticfiles %}
<html>
    {% block title_block %}My Account{% endblock %}
    {% block body_block %}

            <section class="boxed" >
                <div>
                    <h3 style="display: inline;">My Rider Profile</h3>
                </div>
                <div>
                    <h3 style="display: inline;">Details</h3>
                </div>
                <div style="border: 2px  rgb(44, 131, 83) solid; width: 300px; height: 300px; padding-top: 2%; ">
                    <br>
                    <!-- Replace with user photo  -->
                    <img src="../../static/images/avatar.png" style="width: 125px; border-radius: 50%;">
                    <div class="ratingsection">
                        <h1>Rate Your Drivers</h1>
                            <br>
                            <div class="ratings">
                                <div style="margin-right: 5%;">
                                    <!-- Replace with database -->
                                    <h3 style="font-size: medium;">Driver 1</h3>
                                    <br>
                                    <div style="display: grid; grid-template-columns: 70% 30%;">
                                        <h3 style="font-size: small;">Rating:</h3>
                                        <!-- Replace with database -->
                                        <h3 style="font-size: small; font-weight: 200%; ">4.5 </h3>

                                    </div>
                                    <br>
                                    <br>
                                </div>
                                <div style="margin-right: 5%;">
                                    <!-- Replace with database -->
                                    <h3 style="font-size: medium;">Driver 2</h3>
                                    <br>
                                    <div style="display: grid; grid-template-columns: 70% 30%;">
                                        <h3 style="font-size: small;">Rating:</h3>
                                        <!-- Replace with database -->
                                        <h3 style="font-size: small; font-weight: 200%; ">4.5 </h3>

                                    </div>
                                    <br>
                                    <br>                                </div>    
                                <div>
                                    <!-- Replace with database -->
                                    <h3 style="font-size: medium;">Driver 3</h3>
                                    <br>
                                    <div style="display: grid; grid-template-columns: 70% 30%;">
                                        <h3 style="font-size: small;">Rating:</h3>
                                        <!-- Replace with database -->
                                        <h3 style="font-size: small; font-weight: 200%; ">4.5 </h3>

                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>

                    </div>
                </div>
                <div>
                    <div style="border: 2px  rgb(44, 131, 83) solid; width: 300px; height: 300px; padding-top: 4%; ">
                        
                        <div style="display: grid; grid-template-columns: 60% 40%;">
                        <!-- Input database file here -->
                        <form action="process.php" method="GET">
                            <div class="oneperlinetext">
                                <h1> Sample User </h1> 
                                <br>
                                <h1> sample.user@gmail.com </h1>
                                <br>
                                <h1> +44 74 1234 1234 </h1>
                                <br>
                                <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. 

                                </h1>
                                <br>
                                <h1> G12 8QQ </h1>

                            </div>
                        </form>
                            <form action="process.php" method="GET">
                            <div>
                                    <p style="padding-top: 90%;" >
                                        My Rating: 
                                    </p>
                                    <h1 style="color: #64A874;">
                                        4.5
                                    </h1>
                            
                            </div>
                        </form>
                        </div>
                </div>
    </section>     




<!--
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
<h1>Become a Driver</h1>
{% if registered %}
Rango says:<strong>thank you for registering!</strong>
<a href="{%url 'szchober:index'%}">Return to the homepage.</a><br/>
{% else %}
<strong>register here!</strong><br/>

<form id="user_form" method="post" action="{% url 'szchober:become-a-driver' %}"
    enctype="multipart/form-data">

    {% csrf_token %}

    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}
-->
        

    <div id="loginmodal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Log in</h3>
            <form action="process.php" method="POST">
                <input class="oneperline" placeholder="Email" type="text" name="loginemail">
                <input class="oneperline" placeholder="Password" type="text" name="loginpassword">
                <input class="submitbutton" type="submit" name="loginbutton" value="Sign me in" style="float: right;">
                
                
            </form>

        </div>
      
    </div>
      
    <script>
        var modal = document.getElementById("loginmodal");
        var btn = document.getElementById("modalbutton");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock %}
</html>
