<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Szch&#246ber.</title>
        <link rel="stylesheet" type="text/css" href="{% static "styles/templatestyles.css" %}" >
    </head>
    <body>
        <header id="main-header">
            <div class="main-header">
                <a href="#"><h1>Szch<span>&#246</span>ber.</h1></a>

            </div>
        </header>
            <nav id="navbar">
                <ul class="navbar-left">
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Rider</a></li>
                    <li ><a href="#" style="color: rgb(44, 131, 83)">About us</a></li>
                </ul>
                <ul class="navbar-right">
                    <li class="login"><a href="#">Log in</a></li>
                    <li class="signup"><a href="#" style="color: rgb(44, 131, 83);">Sign up</a></li>
                </ul>
            </nav>
        <h1 style="font-size: 18pt; visibility: hidden;">You can't see me</h1>
        <br>
        <section class="boxed">
                    <div>
                        <h3 style="display: inline;">Become a Driver</h3>
                    </div>
                    <div>
                        <h3 style="display: inline">Become a Rider</h3>
                    </div>
                    <div>
                        <a href="{% url 'szchober:become-a-driver' %}"><img src="../../static/images/car.png" alt="car" style= "width: 300px; border: 2px rgb(44, 131, 83) solid; background-color: #64A874;" ></a>
                        <br>
                    </div>
                    <div>
                        <a href= "{% url 'szchober:become-a-rider' %}"><img src="../../static/images/seatblack.png" alt="car" style="width: 300px; border: 2px rgb(44, 131, 83) solid; background-color: #64A874;"></a>

                    </div>
        </section>            
        
    </section>
    <footer>
        <br>
        <nav id="navbar">
            <ul class="navbar-left">
                <li><a href="#"><img src="../../static/images/420px-Globe_icon.svg.png" alt=""></a></li>
                <li><a href="#">
                    <div>
                        <h3 style="color: black;">Contact us</h3>
                        <h1 style="color: rgb(44, 131, 83); font-size: 10px; padding-top: 5px ;">+44 749 4671 324</h1>
                        <h1 style="color: rgb(44, 131, 83); font-size: 10px; padding-top: 5px ;">Feedback</h1>
                    </div>
                </a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="#"><img src="../../static/images/download-on-app-store-png-2.png" alt=""></a></li>
                <li><a href="#"><img src="../../static/images/socials.png" alt=""></a></li>
            </ul>
        </nav>
    </footer>
    </body>
</html>
