.displaydriver{
    border: black 1px solid;
    max-width: 40%;
    display: inline;

}
.displayrider{
    border: black 1px solid;
    max-width: 40%;
    display: inline;
}

.displayrdriver h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    ;
}