@charset "UTF-8";

html, body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

a:link {
    color: none;
  }
  
  /* visited link */
  a:visited {
    color: none;
  }
  
  /* mouse over link */
  a:hover {
    color: none;
  }
  
  /* selected link */
  a:active {
    color: none;
  }

.container {
    margin: 0 auto;
    
}

.header {
    overflow: hidden;
    padding-right: 360px;
    box-shadow: 5px 5px 5px #aaaaaa;
    max-width: 1200px;
    margin-left: 50px;
    margin-right:35px;
    max-height: 75px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: white;
    color: rgb(100,168,116);;
    text-align: center;
  }

.body {
    background-color: rgb(100,168,116);
    max-width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
    min-height: auto;
    max-height: auto;
  }

.lift{
    text-align: center;
    color: white;
}

.block{
    display: inline-block;
    text-align: left;
	height: 180px;  
    width: 400px; 
}

.p{
    display: inline-block;
    padding-right: 15px;
}

.user{
    display: inline-block;
    padding-right: 15px;
    text-align: right;
}

#map {
    height: 400px;  
    width: 400px;  
    align-self: right;
    text-align: right;
    position: fixed;
   }

 .mapcontainer{
     align-content: right;
 }
 {% load static %}
 #car{
	width: 700px;
	height: 700px;
	position: relative;
	z-index:0;
	background-color:red;
	top: -170px;
	left: -50px;
	background: url("/static/images/car.png");
	background-size: 100% auto;
}

.gradient-button {
	position:absolute;
	z-index:1;
    margin: 10px;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    padding: 40px;
	transition:1s;
    text-align: left;
    background-size: 180% auto;
    color: white;
    width: 150px;
    cursor: pointer;
    display: inline-block;
	border-right: 2px solid white;
	box-shadow: 3px 0px rgba(0,0,0,0.08);
	background-color: rgb(100,168,116);
}
.gradient-button:hover{
	background-image: linear-gradient(to right, rgba(129,185,142,0), rgba(129,185,142,1));
}
.gradient-button:active{
	background-image: linear-gradient(to right, rgba(255,217,102,0), rgba(255,217,102,1));
}
